## 02. 파이썬 변수
#### 011 ~ 020

In [4]:
삼성전자 = 50000
총평가금액 = 삼성전자 * 10
print(총평가금액)

500000

In [8]:
시가총액 = 298000000000000
현재가 = 50000
PER = 15.79
print(시가총액, type(시가총액))
print(현재가, type(현재가))
print(PER, type(PER))
# 바인딩: 변수와 변수와 관련된 속성을 연관시키는 과정

298000000000000 <class 'int'>
50000 <class 'int'>
15.79 <class 'float'>

In [12]:
s = "hello"
t = "python"
print(s+"!", t)
# print(f"{s}! {t}")

hello! python

In [14]:
print(2 + 2 * 3)

8

In [15]:
a = "132"
print(type(a))

<class 'str'>

In [19]:
num_str = "720"
num_int = (int(num_str))
print(type(num_int))

<class 'int'>

In [20]:
num = 100
num_str = str(num)
print(type(num_str))

<class 'str'>

In [25]:
num = "15.79"
num = float(num)
print(type(num))

<class 'float'>

In [27]:
year = "2020"
year = int(year)
print(year+3)
print(year+2)
print(year+1)

2023
2022
2021

In [29]:
에어컨 = 48584
무이자 = 36
총금액 = 에어컨 * 무이자
print(총금액)

1749024