## 08. 파이썬 반복문
#### 131 ~ 140

In [1]:
과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
    print(변수)

사과
귤
수박

In [2]:
과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
    print("#####")

#####
#####
#####

In [3]:
print("A")
print("B")
print("C")

# ==
# for 변수 in ["A", "B", "C"]:
#     print(변수)

A
B
C

In [7]:
변수 = "A"
print("출력:", 변수)
변수 = "B"
print("출력:", 변수)
변수 = "C"
print("출력:", 변수)

출력: A
출력: B
출력: C

In [8]:
변수 = "A"
b = 변수.lower()
print("변환:", b)
변수 = "B"
b = 변수.lower()
print("변환:", b)
변수 = "C"
b = 변수.lower()
print("변환:", b)

변환: a
변환: b
변환: c

In [9]:
for 변수 in [10, 20, 30]:
    print(변수)

10
20
30

In [10]:
for 변수 in [10, 20, 30]:
    print(변수)

10
20
30

In [12]:
for 변수 in [10, 20, 30]:
    print(변수)
    print("-------")

10
-------
20
-------
30
-------

In [13]:
print("++++")
for 변수 in [10, 20, 30]:
    print(변수)

++++
10
20
30

In [16]:
for i in [1, 2, 3, 4]:
    print("-------")

-------
-------
-------
-------

#### 141 ~ 150

In [17]:
리스트 = [100, 200, 300]

for 변수 in 리스트:
    print(변수 + 10)

110
210
310

In [18]:
리스트 = ["김밥", "라면", "튀김"]

for 변수 in 리스트:
    print("오늘의 메뉴:", 변수)

오늘의 메뉴: 김밥
오늘의 메뉴: 라면
오늘의 메뉴: 튀김

In [19]:
리스트 = ["SK하이닉스", "삼성전자", "LG전자"]

for 변수 in 리스트:
    print(len(변수))

6
4
4

In [20]:
리스트 = ['dog', 'cat', 'parrot']

for 변수 in 리스트:
    print(변수, len(변수))

dog 3
cat 3
parrot 6

In [21]:
리스트 = ['dog', 'cat', 'parrot']

for 변수 in 리스트:
    print(변수[0])

d
c
p

In [22]:
리스트 = [1, 2, 3]

for 변수 in 리스트:
    print("3 X", 변수)

3 X 1
3 X 2
3 X 3

In [24]:
리스트 = [1, 2, 3]

for 변수 in 리스트:
     print("3 X", 변수, "=", 변수 * 3)

3 X 1 = 3
3 X 2 = 6
3 X 3 = 9

In [25]:
리스트 = ["가", "나", "다", "라"]
리스트 = 리스트[1:]

for 변수 in 리스트:
    print(변수)

나
다
라

In [26]:
리스트 = ["가", "나", "다", "라"]
리스트 = 리스트[0::2]

for 변수 in 리스트:
    print(변수)

가
다

In [27]:
리스트 = ["가", "나", "다", "라"]
리스트 = 리스트[::-1]

for 변수 in 리스트:
    print(변수)

라
다
나
가

#### 151 ~ 160

In [32]:
리스트 = [3, -20, -3, 44]

for 변수 in 리스트:
    if 변수 < 0:
        print(변수)
    else:
        None

-20
-3

In [33]:
리스트 = [3, 100, 23, 44]

for 변수 in 리스트:
    if 변수 % 3 == 0:
        print(변수)
    else:
        None

3

In [34]:
리스트 = [13, 21, 12, 14, 30, 18]

for 변수 in 리스트:
    if 변수 < 20:
        if 변수 % 3 == 0:
            print(변수)

12
18

In [35]:
리스트 = ["I", "study", "python", "language", "!"]

for 변수 in 리스트:
    if len(변수) >= 3:
        print(변수)

study
python
language

In [36]:
리스트 = ["A", "b", "c", "D"]

for 변수 in 리스트:
    if 변수.isupper():
        print(변수)

A
D

In [37]:
리스트 = ["A", "b", "c", "D"]

for 변수 in 리스트:
     if 변수.islower():
        print(변수)

b
c

In [38]:
리스트 = ['dog', 'cat', 'parrot']

for 변수 in 리스트:
    print(변수[0].upper() + 변수[1:])

Dog
Cat
Parrot

In [39]:
리스트 = ['hello.py', 'ex01.py', 'intro.hwp']

for 변수 in 리스트:
    변수 = 변수.split(".")
    print(변수[0])

hello
ex01
intro

In [45]:
리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']

for 변수 in 리스트:
    split = 변수.split(".")
    if split[1] == "h":
        print(변수)

intra.h
define.h

In [46]:
리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']

for 변수 in 리스트:
    split = 변수.split(".")
    if split[1] == "h" or split[1] == "c":
        print(변수)

intra.h
intra.c
define.h

#### 161 ~ 170

In [50]:
for i in range(0, 100):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [54]:
for i in range(2002, 2051, 4):
    print(i)

2002
2006
2010
2014
2018
2022
2026
2030
2034
2038
2042
2046
2050

In [56]:
for i in range(1, 31):
    if i % 3 == 0:
        print(i)

3
6
9
12
15
18
21
24
27
30

In [62]:
for i in range(100):
    print(99 - i)

99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1
0

In [63]:
for i in range(10):
    print(i/10)

0.0
0.1
0.2
0.3
0.4
0.5
0.6
0.7
0.8
0.9

In [66]:
for i in range(1, 10):
    print(3, "x", i, "=", 3*i)

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27

In [67]:
for i in range(1, 10):
    if i % 2 == 1:
        print(3, "x", i, "=", 3*i)

3 x 1 = 3
3 x 3 = 9
3 x 5 = 15
3 x 7 = 21
3 x 9 = 27

In [69]:
num = 0
for i in range(1, 11):
    num += i
print(num)

55

In [70]:
num = 0
for i in range(1, 11, 2):
    num += i
print(num)

25

In [75]:
num = 1
for i in range(1, 11):
    num *= i
print(num)

3628800

#### 171 ~ 180

In [77]:
price_list = [32100, 32150, 32000, 32500]

for i in range(4):
    print(price_list[i])

32100
32150
32000
32500

In [78]:
price_list = [32100, 32150, 32000, 32500]

for i in range(len(price_list)):
    print(i, price_list[i])

0 32100
1 32150
2 32000
3 32500

In [79]:
price_list = [32100, 32150, 32000, 32500]

for i in range(len(price_list)):
    print(len(price_list) - 1 - i, price_list[i])

3 32100
2 32150
1 32000
0 32500

In [80]:
price_list = [32100, 32150, 32000, 32500]

for i in range(1, 4):
    print(90 + 10*i, price_list[i])

100 32150
110 32000
120 32500

In [81]:
my_list = ["가", "나", "다", "라"]

for i in range(0, 3):
    print(my_list[i], my_list[i+1])

가 나
나 다
다 라

In [82]:
my_list = ["가", "나", "다", "라", "마"]

for i in range(0, 3):
    print(my_list[i], my_list[i+1], my_list[i+2])

가 나 다
나 다 라
다 라 마

In [87]:
my_list = ["가", "나", "다", "라"]

for i in range(len(my_list) -1, 0, -1):
    print(my_list[i], my_list[i-1])

라 다
다 나
나 가

In [88]:
my_list = [100, 200, 400, 800]

for i in range(0,3):
    print(my_list[i+1] - my_list[i])

100
200
400

In [89]:
my_list = [100, 200, 400, 800, 1000, 1300]

for i in range(0,4):
    print((my_list[i] + my_list[i+1]+ my_list[i+2]) / 3)

233.33333333333334
466.6666666666667
733.3333333333334
1033.3333333333333

In [91]:
low_prices  = [100, 200, 400, 800, 1000]
high_prices = [150, 300, 430, 880, 1000]
volatility = []

for i in range(0,5):
    volatility.append(high_prices[i] - low_prices[i])

print(volatility)

[50, 100, 30, 80, 0]

#### 181 ~ 190

In [96]:
apart = [ ["101호", "102호"], ["201호", "202호"], ["301호", "302호"] ]

In [97]:
stock = [["시가", 100, 200, 300], ["종가", 80, 210, 330]]

In [98]:
stock = {
    "시가" : [100, 200, 300],
    "종가" : [80, 210, 330]
}

In [99]:
stock = {
    "10/10" : [80, 110, 70, 90],
    "10/11" : [210, 230, 190, 200]
}

In [104]:
apart = [ [101, 102], [201, 202], [301, 302] ]

for i in range(0,3):
    a = apart[i]
    for j in range(0,2):
        print(a[j], "호")
        
# for i in apart:
#     for j in i:
#         print(j, "호")

101 호
102 호
201 호
202 호
301 호
302 호

In [108]:
apart = [ [101, 102], [201, 202], [301, 302] ]

for i in apart[::-1]:
    for j in i:
        print(j, "호")

301 호
302 호
201 호
202 호
101 호
102 호

In [111]:
apart = [ [101, 102], [201, 202], [301, 302] ]

for i in apart[::-1]:
    for j in i[::-1]:
        print(j, "호")

302 호
301 호
202 호
201 호
102 호
101 호

In [112]:
apart = [ [101, 102], [201, 202], [301, 302] ]

for i in apart:
    for j in i:
        print(j, "호")
        print("-----")

101 호
-----
102 호
-----
201 호
-----
202 호
-----
301 호
-----
302 호
-----

In [115]:
apart = [ [101, 102], [201, 202], [301, 302] ]

for i in apart:
    for j in i:
        print(j, "호")
    print("-" * 5)

101 호
102 호
-----
201 호
202 호
-----
301 호
302 호
-----

In [116]:
apart = [ [101, 102], [201, 202], [301, 302] ]

for i in apart:
    for j in i:
        print(j, "호")
print("-" * 5)

101 호
102 호
201 호
202 호
301 호
302 호
-----

#### 191 ~ 200

In [124]:
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]

for i in data:
    for j in i:
        print(j * 1.00014)

2000.28
3050.427
2050.2870000000003
1980.2772
7501.05
2050.2870000000003
2050.2870000000003
1980.2772
15452.163
15052.107
15552.177
14902.086000000001

In [126]:
for i in data:
    for j in i:
        print(j * 1.00014)
    print("-" * 4)

2000.28
3050.427
2050.2870000000003
1980.2772
----
7501.05
2050.2870000000003
2050.2870000000003
1980.2772
----
15452.163
15052.107
15552.177
14902.086000000001
----

In [127]:
result = []

for i in data:
    for j in i:
        result.append(j * 1.00014)

print(result)

[2000.28, 3050.427, 2050.2870000000003, 1980.2772, 7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772, 15452.163, 15052.107, 15552.177, 14902.086000000001]

In [131]:
result = []

for i in data:
    sub = []
    for j in i:
        sub.append(j * 1.00014)
    result.append(sub)
    
print(result)

[[2000.28, 3050.427, 2050.2870000000003, 1980.2772], [7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772], [15452.163, 15052.107, 15552.177, 14902.086000000001]]

In [135]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

for i in ohlc[1:]:
    print(i[3])

100
190
310

In [136]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

for i in ohlc[1:]:
    if i[3] > 150:
        print(i[3])

190
310

In [137]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

for i in ohlc[1:]:
    if i[3] >= i[0]:
        print(i[3])

100
310

In [138]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

volatility = []

for i in ohlc[1:]:
    volatility.append(i[1] - i[2])

print(volatility)

[40, 30, 10]

In [140]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

for i in ohlc[1:]:
    if i[3] > i[0]:
        print(i[1] - i[2])

10

In [142]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

a = []

for i in ohlc[1:]:
    a.append(i[0] - i[3])
    
print(sum(a))

0